      .tu{
        width: 960px;
        height: 450px;
        margin: 60px auto;
        position:relative;
      }
      img{
        padding: 10px 10px 15px;
        background: #fff;
        border:1px solid #ddd;
        position: absolute;
        -webkit-transition:1s;
        -moz-transition:1s;
        transition:1s;
        z-index:1;
      }
      img:hover{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        transform:rotate(0deg);
        -webkit-transform:scale(1.5);
        -moz-transform:scale(1.5);
        transform:scale(1.5);
        box-shadow:15px 15px 20px rgba(50, 50, 50, 0.4); 
        z-index:2;
      }
      .pic1{
        top: 30px;
        left: 650px;
        -webkit-transform:rotate(25deg);
        -moz-transform:rotate(25deg);
        transform:rotate(25deg);
        width: 250px;
        height: 400px;
      }
      .pic2{
        top: 380px;
        left: 680px;
        -webkit-transform:rotate(20deg);
        -moz-transform:rotate(20deg);
        transform:rotate(20deg);
        width: 400px;
        height: 250px;
      }
      .pic3{
        top: 420px;
        left: 480px;
        -webkit-transform:rotate(40deg);
        -moz-transform:rotate(40deg);
        transform:rotate(40deg);
        width: 400px;
        height: 250px;
      }
      .pic4{
        top: 390px;
        left: 260px;
        -webkit-transform:rotate(-20deg);
        -moz-transform:rotate(-20deg);
        transform:rotate(-20deg);
        width: 400px;
        height: 250px;
      }
      .pic5{
        top: 0px;
        left: 30px;
        -webkit-transform:rotate(-35deg);
        -moz-transform:rotate(-35deg);
        transform:rotate(-35deg);
        width: 400px;
        height: 250px;
      }
      .pic6{
        top: 0px;
        left: 430px;
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        transform:rotate(-45deg);
        width: 400px;
        height: 250px;
      }
      .pic7{
        top: 400px;
        left: 90px;
        -webkit-transform:rotate(15deg);
        -moz-transform:rotate(15deg);
        transform:rotate(15deg);
        width: 400px;
        height: 250px;
      }
      .pic8{
        top: 100px;
        left: -190px;
        -webkit-transform:rotate(15deg);
        -moz-transform:rotate(15deg);
        transform:rotate(15deg);
        width: 400px;
        height: 250px;
      }
      .pic9{
        top: 30px;
        left: 240px;
        -webkit-transform:rotate(20deg);
        -moz-transform:rotate(20deg);
        transform:rotate(20deg);
        width: 400px;
        height: 250px;
      }
      .pic10{
        top: 340px;
        left: -120px;
        -webkit-transform:rotate(-15deg);
        -moz-transform:rotate(-15deg);
        transform:rotate(-15deg);
        width: 400px;
        height: 250px;
      }